<mat-card class="login">
    <img alt="Company Logo" [src]="'assets/bliss-movies-resolution-logo.png'"  />
    <div>
       <p>Welcome To Bliss Movies</p>
        <div class="authBtn">
          <button mat-button>Sign In</button>
          <button mat-button>Sign Up</button>
        </div>
      <button mat-button (click)="gmailLogin()" class="gmailBtn">Continue with Gmail</button>
    </div>
    <mat-form-field appearance="outline">
        <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput placeholder="Password">
    </mat-form-field>

</mat-card>
<router-outlet></router-outlet>

